// step one game area
section.step_one.gamearea
  button.paper.player__button(data-choice='paper')
    img.paper__image(src='./images/icon-paper.svg' alt='Paper')
  button.scissor.player__button(data-choice='scissor')
    img.scissor__image(src='./images/icon-scissor.svg' alt='Scissor')
  button.rock.player__button(data-choice='rock')
    img.rock__image(src='./images/icon-rock.svg' alt='Rock')
// step two game area
section.step_two.gamearea.hide
  .user
    .user__title YOU PICKED
    .user__picked
      img.user__icon(src='' alt='')
  .result.hide
    .result__title
    .play_again PLAY AGAIN
  .computer
    .computer__title COMPUTER PICKED
    .computer__picked.computer__picked--empty
      img.computer__icon.hide(src='' alt='')