footer
		button.btn.btn__rules(type='button') RULES
		.overlay.hide
			.overlay__card.overlay__card--toggle
				.overlay__header
						h3.overlay__title RULES
						img.overlay__close(src='./images/icon-close.svg' alt='close')
				img.overlay__image(src='./images/image-rules.svg' alt='rules')