head
	// meta tags
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	meta(name='theme-color' content="#151C3F")
	meta(name='description' content='Rock Paper Scissor Game')
	//- meta open graph
	meta(property="og:title" content="rock-paper-scissor Game")
	meta(property="og:description" content="JS practice project from (The Odin Project). rock paper scissors GUI")
	meta(property="og:url" content="https://rock-paper-scissor-gui.netlify.app/")
	meta(property="og:image" content="https://raw.githubusercontent.com/osamamammar/GUI-rock-paper-scissors/main/src/images/desktop.png")
	// favicon
	link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon-32x32.png')
	// title
	title Rock Paper Scissors
	// css style
	link(rel='stylesheet' href='./styles/main.css')
	// fonts
	link(rel='preconnect' href='https://fonts.googleapis.com')
	link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
	link(href='https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap' rel='stylesheet')
