// to add overlay when Rules button is clicked
.layer--overlay
header.header
      img.header__logo(src='./images/logo.svg' alt='Rock Paper Scissor')
      .score-board
        .player__score
          .player__score__title PLAYER
          .player__score__score 0
        .computer__score
          .computer__score__title COMPUTER
          .computer__score__score 0